<!-- Footer Section Start -->
<footer class="text" style="background-color: #2d2e32;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="mb-0" style="margin-right: 464px; margin-top: 10px;">
                    Created By Swastik  Mohanty | &copy; 2023 All Rights Reserved
                </p>
            </div>
            <div class="media-icons" style="margin-left: 600px; margin-top: -24px;">
                <a href="https://www.linkedin.com/in/swastik-mohanty/"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/smhac404"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <!-- scrollup -->
        <div id="scroll-up-button" class="position-fixed bottom-0 end-0 p-3">
            <a href="#top" class="btn btn-secondary btn-lg" style="margin-top: -4rem;">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>
    </div>
</footer>