<body class="custom-bg" id="contact">
    <div class="container" style="margin-top: 12rem !important; margin-bottom: 12rem !important;">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 mx-auto text-center">
                <div class="inner-column" style="margin-left: -241px;">
                    <div class="mb-4 sec-title">
                        <span class="title">CONTACT ME</span>
                        <h2>Don't be shy! Hit me up!👇</h2>
                    </div>
                    <div class="st-container">
                        <div class="mb-2 st1">
                            <ul>
                                <li>
                                    <a href="#contact" class="tilt-top"><i class="fa fa-street-view" aria-hidden="true"></i></a>
                                </li>
                                <p>Location <br><a href="#">Odisha, India</a></p>
                            </ul>
                        </div>
                        <div class="mb-2 st2">
                            <ul>
                                <li>
                                    <a href="mailto:swastik845@gmail.com" class="tilt-right"><i class="fa fa-solid fa-paper-plane" aria-hidden="true"></i></a>
                                </li>
                                <p>Mail <br><a href="mailto:swastik845@gmail.com">swastik845@gmail.com</a></p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>     