<app-header></app-header>

<body>
    <div class="added">
        <!-- Home Section Start -->
        <section class="home" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3" style="margin-top: 7rem;">
                        <div class="text text-center mt-5" style="margin-left: -750px;">
                            <div class="text-three" style="color: #FF5F1F;">
                                <span class="highlight">Data</span> <span class="scientist">Scientist</span>
                                <img src="../../assets/handwave.png" alt="Image Description">
                            </div>
                            <div class="text-two"><span style="margin-left: -32px;">I'm Swastik Mohanty, A passionate Data Scientist</span><br><span
                                    style="margin-left: -180px;">based in Odisha, India .</span>📍
                            </div>
                            <div class="media-icons" style="margin-left: -432px; margin-top: 30px;">
                                <a href="https://www.linkedin.com/in/swastik-mohanty/"><i class="fab fa-linkedin"></i></a>
                                <a href="https://github.com/smhac404"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <img class="card1" style="height: 400px; width: 400px; margin-left: 809px; margin-top: -300px;"
                        src="../../assets/326694744_1200812950539460_6442741106497135482_n.webp" alt="avatar">
                </div> -->
                <div id="container" class="about-model">
                    <img src="../../assets/326694744_1200812950539460_6442741106497135482_n.webp" alt="" class="image">
                </div>

            </div>

            <!-- tech stack -->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="skills text-center">
                            <p>Tech Stack</p>
                            <div class="logos">
                                <ul class="list justify-content-center">
                                    <li class="p-3 col-md-2">
                                        <img src="../../assets/html.6e7b1b463015c056aeb9a624c8dc2876.svg" title="HTML5"
                                            alt="skill-icon">
                                    </li>
                                    <li class="p-3 col-md-2">
                                        <img src="../../assets/css3.9cecabbf6ce67609c48bc4f280a11002.svg" title="CSS3"
                                            alt="skill-icon">
                                    </li>
                                    <li class="p-3 col-md-2">
                                        <img src="../../assets/javascript.de4c2594613e34b15666206bbede7327.svg"
                                            title="Java Script" alt="skill-icon">
                                    </li>
                                    <li class="p-3 col-md-2">
                                        <img src="../../assets/react.afac9c43724070bf6674f2692b7356a9.svg" title="React"
                                            alt="skill-icon">
                                    </li>
                                    <li class="p-3 col-md-2">
                                        <img src="../../assets/tailwind.79614a5f61617ba49a0891494521226b.svg"
                                            title="Tailwind CSS" alt="skill-icon">
                                    </li>
                                    <li class="p-3 col-md-2">
                                        <img src="../../assets/scss.67cd0525916c4cdea4eb3abd8ae11137.svg" title="SCSS"
                                            alt="skill-icon">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>


<app-about></app-about>

<!-- portfolio -->
<!-- <app-project></app-project> -->

<app-contact></app-contact>

<app-footer></app-footer>